
<div class="panel panel-primary" style="width:50%;left:20%;position:relative">
  <div class="panel-heading">Searching</div>
  <div class="panel-body">
<form (ngSubmit)="save(f)" #f="ngForm" style="left: 35%;position: relative;width: 35%;" >
  <br>
  <div class=" row" >
    <div class=" col-md-12">
      <div class=" form-group"> 
        <label> Type of Search: </label>
                    <select id="searchId" 
                    ngModel 
                    name="searchId" 
                    style="color:black; background-color: white;"
                    class="form-control" 
                    [(ngModel)]="searchId"
                    placeholder="searchId">                      
                      <option>Text</option>
                      <option>Extension</option>
                    </select>
      </div>
    </div>
  </div>
  <div class=" row" >
    <div class=" col-md-12">
      <div class=" form-group"> 
        <label for="ctrl"> Folder Path: </label>
        <input type="file" #folderInput id="ctrl" webkitdirectory directory (change)="filesPicked($event)" />
        </div>
      </div>
  </div>

  <div class=" row" [ngSwitch]="searchId"> 
    <div *ngSwitchCase="'Extension'" >
    <div class=" col-md-12">
      <div class=" form-group">
        <label for="extension"> Type of Extension: </label> 
        <input id="extension" ngModel name="extension" type="text" placeholder=".xml"/>
      </div>
    </div>
  </div>    

  <div *ngSwitchCase="'Text'" >
    <div class=" col-md-12">
      <div class=" form-group"> 
        <label for="text"> Text: </label><br>
        <input id="text" ngModel name="text" type="text"/>
      </div>
    </div>
  </div>
  </div>
  <div class="card-footer">
    <button class=" btn btn-fill btn-success"  type="submit" >Search</button>
  </div>
  <br>
  <ngb-progressbar type="success" [value]="progress">{{progress}}%</ngb-progressbar>
    
</form>
</div>
</div>
