<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">XMLProcessing</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/search" >Search</a></li>
        <li routerLinkActive="active"><a routerLink="/sort" >Sort</a></li>
        <li routerLinkActive="active"><a routerLink="/prettyprint" >Pretty print</a></li>
        <li routerLinkActive="active"><a routerLink="/split" >Split</a></li>
        <li routerLinkActive="active"><a routerLink="/convert" >Convert</a></li>
        <li routerLinkActive="active"><a routerLink="/parsing" class="active" routerLinkActive="active">Parsing</a></li>
        <li routerLinkActive="active"><a routerLink="/feedback" >Feedback</a></li>
      </ul>
    </div>

  </div>
</nav>