<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">XMLProcessing</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
        <li><a routerLink="/sort" routerLinkActive="active">Sort</a></li>
        <li><a routerLink="/prettyprint" routerLinkActive="active">Pretty print</a></li>
        <li><a routerLink="/split" routerLinkActive="active">Split</a></li>
        <li><a routerLink="/convert" routerLinkActive="active">Convert</a></li>
        <li><a routerLink="/parsing" routerLinkActive="active">Parsing</a></li>
        <li><a routerLink="/feedback" routerLinkActive="active">Feedback</a></li>
      </ul>
    </div>

  </div>
</nav>