<nav class="navbar navbar-default" ><!--style="background-color:rgba(0, 132, 255, 0.493)"-->
  <div class="container-fluid" >
    <div class="navbar-header" style="position:relative;left:43%;float:unset" ><!--<style="position:relative;left:100%;padding:2%"></style>-->
      <a href="#" class="navbar-brand" ><h2>Multi Processor</h2></a>
    </div>
    <div class="collapse navbar-collapse" style="position:relative;left:30%;padding:1%"><!--style="position:relative;left:70%"-->
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/search" ><h4>Search</h4></a></li>
        <li routerLinkActive="active"><a routerLink="/sort" ><h4>Sort</h4></a></li>
        <li routerLinkActive="active"><a routerLink="/prettyprint" ><h4>Pretty print</h4></a></li>
        <li routerLinkActive="active"><a routerLink="/split" ><h4>Split</h4></a></li>
        <li routerLinkActive="active"><a routerLink="/convert" ><h4>Convert</h4></a></li>
       <!-- <li routerLinkActive="active"><a routerLink="/parsing" class="active" ><h4>Parsing</h4></a></li>-->
        <li routerLinkActive="active"><a routerLink="/feedback" ><h4>Feedback</h4></a></li>
      </ul>
    </div>

  </div>
</nav>