
<div class="panel panel-primary" style="width:50%;left:20%;position:relative">
	<div class="panel-heading">Split</div>
	<div class="panel-body">
<form (ngSubmit)="save(f)" #f="ngForm" style="left: 35%;position: relative;width: 35%;" >
	<br>
	<div class=" row" >
		<div class=" col-md-12">
			<div class=" form-group">	
        <label> Type of Split: </label>
                    <select id="typeOfSplit" 
                    ngModel 
                    name="typeOfSplit" 
                    [(ngModel)]="typeOfSplit"
                    style="color:black; background-color: white;"
                    class="form-control" 
                    
                    placeholder="typeOfSplit">                      
                      <option>Level</option>
                      <option>Element</option>
                      <option>Flat</option>
                      <option>Size</option>
                    </select>
			</div>
		</div>
  </div>

  <div class=" row" >
		<div class=" col-md-12">
			<div class=" form-group">				 
				<label for="xmlFile"> File Input: </label>
				<input type="file"  id="xmlFile" accept=".XML,.xml,.SGM" (change)="onSelectedXMLFile($event)"/>
			</div>
		</div>
  </div>
  

  
 <div class=" row" [ngSwitch]="typeOfSplit"> 
  <div *ngSwitchCase="'Level'" >
		<div class=" col-md-12">
			<div class=" form-group">
        <label for="level"> Level: </label>	<br>
        <input id="level" ngModel name="level" type="number"/>
      </div>
    </div>
  </div>  

   
  <div *ngSwitchCase="'Size'" >
    <div class=" col-md-12">
      <div class=" form-group">	
        <label for="size"> Size: </label><br>
        <input id="size" ngModel name="size" type="number"/>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'Element'" >
    <div class=" col-md-12">
      <div class=" form-group">	
        <label for="splitByElement"> Split by Element: </label><br>
        <input id="splitByElement" ngModel name="splitByElement" type="text"/>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'Flat'" >
    <div class=" col-md-12">
      <label > Split Type: </label><br>
      <div class=" radio" *ngFor="let type of splitType">	        
        <label>
        <input id="splitType" [value]="type" [(ngModel)]="splitByRadio" name="splitType" type="radio"/>
        {{type}}
      </label>
      </div>
    </div>
    <div class=" col-md-12" *ngIf="isSelected('line')">
      <div class=" form-group">	
        <label for="splitByLine"> Split by Line: </label><br>
        <input id="splitByLine" ngModel name="splitByLine" type="text"/>
      </div>
    </div>
    <div class=" col-md-12" *ngIf="isSelected('size')">
      <div class=" form-group">	
        <label for="splitBySize"> Split by Size: </label><br>
        <input id="splitBySize" ngModel name="splitBySize" type="text"/>
      </div>
    </div>
  </div>
  </div>

	<div class="card-footer">
    <button class=" btn btn-fill btn-success" type="submit" >Split</button>
  </div>
		
	
</form>
</div>
</div>