
<div class="panel panel-primary" style="width:50%;left:20%;position:relative">
	<div class="panel-heading">Parsing</div>
	<div class="panel-body">
<form (ngSubmit)="save(f)" #f="ngForm" style="left: 35%;position: relative;width: 35%;" >
	<br>
	<div class=" row" >
		<div class=" col-md-12">
			<div class=" form-group">				 
				<b><label for="xmlFile">Select file Input: </label></b> 
				<input type="file" id="xmlFile" accept=".XML,.xml,.SGM" name="profile" (change)="onSelectedXMLFile($event)"/>
			</div>
		</div>
	</div>
	<div class=" row" >
		<div class=" col-md-12">
			<div class=" form-group">				 
				<b><label for="xsdFile">XSD/DTD file Input:</label></b> 
				<input type="file" id="xsdFile" accept=".xsd, .dtd " name="profile" (change)="onSelectedXSDFile($event)"/>
			</div>
		</div>
	</div>
	
	<div class=" row" >
		<div class=" col-md-12">
			<div class=" form-group">				 
				<b><label for="errorFile"> Error File: </label> </b>
				<input type="file" id="errorFile" name="profile" (change)="onSelectedERRORFile($event)"/>
			</div>
		</div>
	</div>
	<div class=" row" >
		<div class=" col-md-12">
		<div class="form-group">
			<button class=" btn btn-fill btn-success" type="submit" >Parse XML </button>  
			<!-- <button class=" btn btn-fill btn-success" (click)="transformXML()" type="submit" >Transform XML</button> -->
		</div>
		</div>
		
	</div>
</form>
</div>
</div>
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#fff"
type = "ball-scale-multiple">
<p style="font-size: 20px; color: white">File Uploading in Progress. Please Wait!!!</p>
</ngx-spinner>