<div style="width:50%;left:20%;position:relative">
	<fieldset>
	  <legend style="font-size: 14px;position:relative;"><i class="fa fa-tags" style="font-size:15px"></i> What's in this tab?</legend>
	  <label style="left:2%;margin:0">
			How about Parse your SGML or XML document first before working on it ?
		</label>
	</fieldset>
</div>


<div class="panel panel-primary" style="width:50%;left:20%;top:1em;position:relative"><!--background-color:rgba(190, 234, 245, 0.822)-->
	<div class="panel-heading">Parsing</div>
	<div class="panel-body">
<form (ngSubmit)="parseXML(fm)" #fm="ngForm" style="left: 35%;position: relative;width: 35%;" >
	<br>
	<div class=" row" >
		<div class=" col-md-12">
			<div class=" form-group">				 
				<b><label for="inputFile">Select file Input: </label></b> 
				<input type="file" id="inputFile" accept=".XML,.xml,.SGM"  required (change)="onSelectedXMLFile($event)"/>
			</div>
		</div>
	</div>

  <div class=" row" >
    <div class=" col-md-12">
     <div class=" form-group">
      <b><label for="file">Select Your File Type</label></b> <br/>

      <input id="XML" type="radio" value="XML" name="fileType" ngModel (click)= 'toggelXML()'/>
      <label class="control-label" for="XML">XML </label>&nbsp;&nbsp;&nbsp;&nbsp;

      <input id="SGML" type="radio" value="SGML" name="fileType" ngModel (click) =toggelcatalog()/>
      <label class="control-label" for="SGML">SGML </label> 
     </div>
    </div>
  
    <div *ngIf="showcatalog" >
      <div class=" col-md-12">
        <div class=" form-group">
          <label for="catalog"> Catalog file: </label>	<br>
          <input type="file" id="catalog" ngModel name="catalog"  (change)="onSelectedCatalogFile($event)"/>
        </div>
      </div>
    </div> 
  </div>

	<div class=" row" >
		<div class=" col-md-12">
			<div class=" form-group">				 
				<b><label for="xsdFile"> XSD/DTD file Input:</label></b> 
				<input type="file" id="xsdFile" accept=".xsd, .dtd ,.XSD" name="xsdFile"  (change)="onSelectedXSDFile($event)"/>
			</div>
		</div>
	</div>
	
	<div class=" row" >
		<div class=" col-md-12">
			<div class=" form-group">				 
				<b><label for="errorFile"> Error File: </label> </b>
				<input type="file" id="errorFile" name="errorFile" (change)="onSelectedERRORFile($event)"/>
			</div>
		</div>
	</div>
	<div class=" row" >
		<div class=" col-md-12">
		<div class="form-group">
			<button class=" btn btn-fill btn-success" type="submit" >Parse File </button>  
			<!-- <button class=" btn btn-fill btn-success" (click)="transformXML()" type="submit" >Transform XML</button> -->
		</div>
		</div>
		
	</div>
	<br>
  <ngb-progressbar *ngIf="display" type="success" [value]="progress">{{progress}}%</ngb-progressbar>
</form>
</div>
</div>
