<div style="width:50%;left:20%;position:relative">
  <fieldset>
    <legend style="font-size: 14px;position:relative;"><i class="fa fa-tags" style="font-size:15px"></i>  What's in this tab?</legend>
    <label style="left:2%;margin:0">
      Lets first arrange things! Add the file path which you want to sort.
    </label>
  </fieldset>
</div>

<div class="panel panel-primary" style="width:50%;left:20%;top:1em;position:relative">
  <div class="panel-heading">Sorting</div>
  <div class="panel-body">
<form (ngSubmit)="submitform(f)" #f="ngForm" style="left:35%;position:relative;width:35%" >
  <br>
  <div class=" row" >
    <div class=" col-md-12">
      <div class=" form-group"> 
        <label> Type of Sort: </label>
                    <select id="sortType" disabled
                    ngModel 
                    name="sortType" 
                    style="color:black; background-color: white;"
                    class="form-control" 
                    [(ngModel)]="sortType"
                    placeholder="sortType">
                      <option value="Default" selected="selected">Default Sort</option>
                      <option>Attribute Sort</option>
                      <option>Mixed Content Sort</option>
                    </select>
      </div>
    </div>
  </div>
  <div class=" row" >
    <div class="col-md-12">
      <div class=" form-group"> 
        <label> Select File : </label>
        <input type="file" id="xmlFileforSort" accept=".XML,.xml" title="Only XML format" name="xmlFileforSort" (change)="onSelectofXMLFile($event)"/>
        </div>
      </div>
  </div>

  <div class=" row" [ngSwitch]="sortType" > 
    <div class="col-md-12" *ngSwitchCase="'Attribute Sort'">
      <div class=" form-group" display="inline-block">
        <label for="attribute"> Attribute Name : </label> 
        <input name="attribute" id="attribute" ngModel type="text"/>
      </div>
    </div>

    <div class="col-md-12" *ngSwitchCase="'Mixed Content Sort'">
      <div class=" form-group">
        <label for="keyattribute"> Sort by Key attribute :&nbsp; </label> 
        <input name="keyattribute" id="keyattribute" ngModel type="checkbox"/>
      </div>
    </div>  

    <div *ngSwitchCase="'Mixed Content Sort'">
    <div class="col-md-12">
      <div class=" form-group" display="inline-block">
        <label for="idattribute"> Sort by Id :&nbsp; </label> 
        <input id="idattribute" name="idattribute" ngModel type="checkbox"/>
      </div>
    </div>
  </div>
  </div>  



  <div class="card-footer">
    <button class=" btn btn-fill btn-success" [routerLink]="['/sort']" type="submit" >Sort</button>
  </div>
  <br>
  <ngb-progressbar *ngIf="display" type="success" [value]="progress">{{progress}}%</ngb-progressbar>
</form>
</div>
</div>
