<div class="panel panel-primary" style="width:50%;left:20%;top:40px;position:relative">
	<div class="panel-heading">Pretty Print</div>
	<div class="panel-body">

  <form (ngSubmit)="save(f)" #f="ngForm" style="left: 35%;position:relative;width: 35%;top:10px;" >
    <div class=" row" >
      <div class=" form-group">
        <b><label for="input-file">Select File:</label></b>&nbsp;&nbsp;
        <input type="file" id="input" name="profile" (change)="onSelectInputFile($event)" required/>
      </div>
    </div>

    <br/>

    <div class=" row" >
      <div class=" form-group">
        <b><label for="input-file">Select Your File Type</label></b><br/>

        <input id="XML" type="radio" value="XML" name="fileType" ngModel/>
        <label class="control-label" for="XML">XML </label>&nbsp;&nbsp;&nbsp;&nbsp;

        <input id="SGML" type="radio" value="SGML" name="fileType" ngModel/>
        <label class="control-label" for="SGML">SGML </label> <br/><br/>

      </div>
    </div> 
     
    <div class=" row" style="left: 30%;">
      <div class=" form-group">
        <button class=" btn btn-fill btn-success" type="submit" >Pretty Print File </button>&nbsp;&nbsp;
      </div>
    </div>
 
  </form>
</div>
</div>

