<div style="width:50%;left:20%;position:relative">
  <fieldset>
    <legend style="font-size: 14px;position:relative;"><i class="fa fa-tags" style="font-size:15px"></i> What's in this tab?</legend>
    <label style="left:2%;margin:0">
      Difficult to work with SGML?  SGML file can be converted into a XML file, make sure to give it's catalog file please.
    </label>
  </fieldset>
</div>

<div class="panel panel-primary" style="width:50%;left:20%;top:1em;position:relative">
  <div class="panel-heading">Conversion</div>
  <div class="panel-body">

    <form (ngSubmit)="save(f)" #f="ngForm" style="left:35%;position:relative;width: 35%;top:10px;" >
      <br/>
      <div class=" row" >
        <div class=" form-group">
          <b><label for="sgmlfile">SGML File Path:</label></b>&nbsp;&nbsp;
          <input type="file" id="sgmlfile" name="profile" placeholder="Select XML file" (change)="onSelectSGMLFile($event)" required/>
        </div>
      </div>

      <br/>
      <div class=" row" >
        <div class=" form-group">
          <b><label for="catalog-file">Catalog Folder:</label></b>&nbsp;&nbsp;
          <input type="file" #folderInput id="catalogfile" webkitdirectory name="profile" (change)="onSelectCatalogFolder($event)"/>
        </div>
      </div>

    
      <br/>
      <div class=" row" >
        <div class=" form-group">&nbsp;&nbsp;
          <button class=" btn btn-fill btn-success" type="submit" > Convert File </button>&nbsp;&nbsp;
        </div>
      </div>
      <br>
  <ngb-progressbar *ngIf="display" type="success" [value]="progress">{{progress}}%</ngb-progressbar>
    </form>

  </div>

</div>

